<script>
    $().ready(function () {
        function ipLookUp() {
            $.ajax('http://ip-api.com/json').then(function success(response) {
                console.log('User\'s Location Data is ', response);
                $("#pais").val(response.country);
                $("#ciudad").val(response.city);
                $("#provincia").val(response.regionName);
                $("#longitud").val(response.lon);
                $("#latitud").val(response.lat);
                $("#ip").val(response.query);
                console.log('User\'s Country', response.country);
            }, function fail(data, status) {
                console.log('Request failed.  Returned status of', status);
            });
        }
        ipLookUp();
    });
</script>
<!-- Registro Retiro-->
<div class="card mb-3">
    <div class="card-header"><i class="fas fa-wine-glass-alt"></i> Retiro</div>
    <div class="card-body">
        <form action="/cajero/retiro" method="POST">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <!--obtener ubicacion-->
                            <input type="hidden" id="ciudad" value="" name="ciudad">
                            <input type="hidden" id="pais" value="" name="pais">
                            <input type="hidden" id="latitud" value="" name="latitud">
                            <input type="hidden" id="longitud" value="" name="longitud">
                            <input type="hidden" id="ip" value="" name="ip">
                            <input type="hidden" id="provincia" value="" name="provincia">
                            <!--obtener ubicacion-->
                            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre"
                                required="required" autofocus="autofocus">
                            <label for="nombre">Titular de la cuenta</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <input type="text" id="valor" name="valor" class="form-control" placeholder="Valor"
                                required="required">
                            <label for="valor">Valor</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <input type="text" id="nro" name="nro" class="form-control" placeholder="Numero de cuenta"
                                required="required">
                            <label for="nro">Numero de cuenta</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <input type="text" id="depositante" name="depositante" class="form-control"
                                placeholder="Numero de cuenta" required="required">
                            <label for="depositante">Nombre del depositante</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <input type="text" id="cantidad" name="cantidad" class="form-control"
                                placeholder="Cantidad en numeros" required="required">
                            <label for="cantidad">Valor en letras</label>
                        </div>
                    </div>
                    {{!-- <div class="col-md-6">
                        <div class="form-label-group">
                            <input type="text" id="depositante" name="depositante" class="form-control" placeholder="Numero de cuenta"
                                required="required">
                            <label for="depositante">Nombre del depositante</label>
                        </div>
                    </div> --}}
                </div>
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="Realizar Retiro">
        </form>
    </div>
    <div class="card-footer small text-muted">Realizar Retiro - CDB</div>
</div>
<!-- /Registro Retiro-->