{{!-- Enlaces --}}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/administracion">Administración</a>
    </li>
    <li class="breadcrumb-item active">CheckOut</li>
</ol>
{{!-- /Enlaces --}}

{{!-- Alertas --}}
<div class="alert alert-warning alert-dismissible fade show">
    <h6 class="dropdown-header"><i class="fas fa-money-bill-alt"></i> Complete el formulario con los datos de su tarjeta, y para proceder a realizar el pago
        seleccione <b>Pay
            Now</b>.</h6>
    <div class="dropdown-divider"></div>
    <i class="fas fa-money"></i> Valor a Pagar: <b>${{valor}}</b>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{!-- /Alertas --}}

{{!-- Pago --}}
<div class="card mb-3">
    <div class="card-header"><i class="fas fa-credit-card"></i> Pago</div>
    <div class="card-body">
        {{!-- Formulario Pago --}}
        <script src="https://test.oppwa.com/v1/paymentWidgets.js?checkoutId={{variable}}"></script>
        <form action="http://localhost:3000/resultado" class="paymentWidgets" data-brands="VISA MASTER AMEX"> </form>
        {{!-- /Formulario Pago --}}
    </div>
    <div class="card-footer small text-muted">Realizar Pago</div>
</div>
{{!-- /Pago --}}