{{!-- Enlaces --}}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/administracion">Administración</a>
    </li>
    <li class="breadcrumb-item active">Resultado</li>
</ol>
{{!-- /Enlaces --}}

{{!-- Resultados --}}
<div class="card mb-3">
    <div class="card-header"><i class="fas fa-paragraph"></i> Resultados de Pago</div>
    <div class="card-body">
        <div class="alert alert-success">
            {{resultado}}
        </div>
    </div>
    <div class="card-footer small text-muted">Resultados</div>
</div>
{{!-- /Resultados --}}