<!-- Encabezado -->
<header id="header" class="transparent-nav">
    <div class="container">

        <div class="navbar-header">
            <!-- Logo -->
            <div class="navbar-brand">
                <a class="logo" href="/">
                    <img src="/images/CDB-logo.png" alt="logo">
                </a>
            </div>
            <!-- /Logo -->

            <!-- Mobil Menú -->
            <button class="navbar-toggle">
                <span></span>
            </button>
            <!-- /Mobil Menú  -->
        </div>

        <!-- Navegación -->
        <nav id="nav">
            <ul class="main-menu nav navbar-nav navbar-right">
                <li><a href="/">Principal</a></li>
                <li><a href="#about">Servicios</a></li>
                <li><a href="#">Misión</a></li>
                <li><a href="#">Visión</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
        <!-- /Navegación -->

    </div>
</header>
<!-- /Encabezado -->

<!-- Principal -->
<div id="home" class="hero-area">

    <!-- Fondo Imágen -->
    <div class="bg-image bg-parallax overlay" style="background-image:url(https://images.pexels.com/photos/1422408/pexels-photo-1422408.jpeg)"></div>
    <!-- /Fondo Imágen -->

    <div class="home-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="white-text">{{titulo}}</h1>
                    <p class="lead white-text">Banca Electrónica en tus manos.</p>
                    <a class="main-button icon-button" href="/ingresar">¡Empezar Ahora!</a>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /Principal -->

<!-- Servicios -->
<div id="about" class="section">

    <!-- container -->
    <div class="container">

        <!-- row -->
        <div class="row">

            <div class="col-md-6">
                <div class="section-header">
                    <h2>Nuestros Servicios</h2>
                    <p class="lead">Calidad y Confianza</p>
                </div>

                <!-- Característica -->
                <div class="feature">
                    <i class="feature-icon fa fa-bank"></i>
                    <div class="feature-content">
                        <h4>Cuentas de Ahorro</h4>
                        <p>¡De manera rápida y segura tienes tu cuenta de ahorros lista!</p>
                    </div>
                </div>
                <!-- /Característica -->

                <!-- Característica -->
                <div class="feature">
                    <i class="feature-icon fa fa-credit-card"></i>
                    <div class="feature-content">
                        <h4>Tarjetas de Débito</h4>
                        <p>Obtén tu tarjeta de débito sin trámites ni demoras.</p>
                    </div>
                </div>
                <!-- /Característica -->

                <!-- Característica -->
                <div class="feature">
                    <i class="feature-icon fa fa-lock"></i>
                    <div class="feature-content">
                        <h4>Seguridad</h4>
                        <p>Sus datos se encuentran seguros con nosotros.</p>
                    </div>
                </div>
                <!-- /Característica -->
            </div>
            <!-- Video -->
            <div class="col-md-5 col-md-offset-1">
                <a class="about-video" href="#">
                    <img src="https://images.unsplash.com/photo-1459257831348-f0cdd359235f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="">
                    <i class="play-icon fa fa-play"></i>
                </a>
            </div>
            <!-- /Video -->

        </div>
        <!-- row -->

    </div>
    <!-- container -->
</div>
<!-- /Servicios -->

<!-- Ingreso -->
<div id="courses" class="section">

    <!-- container -->
    <div class="container">

        <!-- row -->
        <div class="row">
            <div class="section-header text-center">
                <h2>Banca Electrónica</h2>
                <p class="lead">Nuestros Servicios a tu disposición</p>
            </div>
        </div>
        <!-- /row -->

        <!-- Enlace -->
        <div id="courses-wrapper">

            <!-- row -->
            <div class="row">

                <!-- single course -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="course">
                        <a href="#" class="course-img">
                            <img src="/images/CDB-logo.png" alt="">
                            <i class="course-link-icon fa fa-link"></i>
                        </a>
                        <a class="course-title" href="#">Desde un modelo pequeño, hasta una vision empresarial</a>
                        <div class="course-details">
                            <span class="course-category">Constancia</span>
                            <!-- <span class="course-price course-free">Free</span> -->
                        </div>
                    </div>
                </div>
                <!-- /single course -->

                <!-- single course -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="course">
                        <a href="#" class="course-img">
                            <img src="/images/CDB-logo.png" alt="">
                            <i class="course-link-icon fa fa-link"></i>
                        </a>
                        <a class="course-title" href="#">Prestando servicios de calidad </a>
                        <div class="course-details">
                            <span class="course-category">Apoyo</span>
                            <!-- <span class="course-price course-premium">Premium</span> -->
                        </div>
                    </div>
                </div>
                <!-- /single course -->

                <!-- single course -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="course">
                        <a href="#" class="course-img">
                            <img src="/images/CDB-logo.png" alt="">
                            <i class="course-link-icon fa fa-link"></i>
                        </a>
                        <a class="course-title" href="#">De pie a tu lado, brindandote seguridad</a>
                        <div class="course-details">
                            <span class="course-category">Acompañamiento</span>
                            <!-- <span class="course-price course-premium">Premium</span>-->
                        </div>
                    </div>
                </div>
                <!-- /single course -->

                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="course">
                        <a href="#" class="course-img">
                            <img src="/images/CDB-logo.png" alt="">
                            <i class="course-link-icon fa fa-link"></i>
                        </a>
                        <a class="course-title" href="#">Actualizados a las ultimas tecnologías financieras</a>
                        <div class="course-details">
                            <span class="course-category">Actualidad</span>
                            <!-- <span class="course-price course-free">Free</span>-->
                        </div>
                    </div>
                </div>
                <!-- /single course -->

            </div>
            <!-- /row -->

        </div>
        <!-- /Ingreso -->

        <!--  <div class="row">
              <div class="center-btn">
                  <a class="main-button icon-button" href="#">More Courses</a>
              </div>
          </div>
  
      </div>-->
        <!-- container -->

    </div>
    <!-- /Courses -->

    <!-- Call To Action -->
    <div id="cta" class="section">

        <!-- Backgound Image -->
        <div class="bg-image bg-parallax overlay" style="background-image:url(../../images/CDB-logo.png)"></div>
        <!-- /Backgound Image -->

        <!-- container -->
        <div class="container">

            <!-- row -->
            <div class="row">

                <div class="col-md-6">
                    <h2 class="white-text">Banca Electronica</h2>
                    <p class="lead white-text">Nuestra insercion en la Banca Electronica es una muestra de nuestro interés de mejorar por y para usted.</p>
                    <a class="main-button icon-button" href="#">Empecemos</a>
                </div>

            </div>
            <!-- /row -->

        </div>
        <!-- /container -->

    </div>
    <!-- /Call To Action -->

    <!-- Misión - Visión -->
    <div id="why-us" class="section">

        <!-- container -->
        <div class="container">

            <!-- row -->
            <div class="row">
                <div class="section-header text-center">
                    <h2>Misión y Visión</h2>
                    <p class="lead">Un poco sobre nosotros.</p>
                </div>

                <!-- Característica -->
                <div class="col-md-4">
                    <div class="feature">
                        <i class="feature-icon fa fa-users"></i>
                        <div class="feature-content">
                            <h4>Misión</h4>
                            <p>Estamos para satisfacer las necesidades financieras de 
                                personas y empresas de la localidad,
                                con servicios ágiles y accesibles.</p>
                        </div>
                    </div>
                </div>
                <!-- /Característica -->

                <!-- Característica -->
                <div class="col-md-4">
                    <div class="feature">
                        <i class="feature-icon fa fa-flask"></i>
                        <div class="feature-content">
                            <h4>Visión</h4>
                            <p>Ser un banco mediano,
                                reconocido por su calidad en el servicio</p>
                        </div>
                    </div>
                </div>
                <!-- /Característica -->

                <!-- Característica -->
                <div class="col-md-4">
                    <div class="feature">
                        <i class="feature-icon fa fa-comments"></i>
                        <div class="feature-content">
                            <h4>Objetivo</h4>
                            <p>Abrir las puertas a la pequeña y media empresa hacia el dinero electrónico</p>
                        </div>
                    </div>
                </div>
                <!-- /Característica -->

            </div>
            <!-- /row -->

            <hr class="section-hr">

            <!-- row -->
            <div class="row">

                <div class="col-md-6">
                    <h3>Para nuestros clientes</h3>
                    <p class="lead">Nos complace su preferencia</p>
                    <p>Nuestro crecimiento constante se debe a la preferencia de nuestros clientes, por quienes nos 
                        sentimos motivados a seguir creciendo y mejorando cada día</p>
                </div>

                <div class="col-md-5 col-md-offset-1">
                    <a class="about-video" href="#">
                        <img src="./img/about-video.jpg" alt="">
                        <i class="play-icon fa fa-play"></i>
                    </a>
                </div>

            </div>
            <!-- /row -->

        </div>
        <!-- /container -->

    </div>
    <!-- /Misión - Visión -->

    <!-- Contact CTA -->
    <div id="contact-cta" class="section">

        <!-- Backgound Image -->
        <div class="bg-image bg-parallax overlay" style="background-image:url(../../images/CDB-logo.png)"></div>
        <!-- Backgound Image -->

        <!-- container -->
        <div class="container">

            <!-- row -->
            <div class="row">

                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="white-text">Contactos</h2>
                    <p class="lead white-text">¿Tiene dudas?, por favor envienos sus dudas, comentarios o sugerencias.</p>
                    <div> 
                        <div class="form-group">
                            <textarea name="comentario" id="comentario" cols="30" rows="10" class="form-control">                                
                            </textarea> 
                       </div>
                        <a class="main-button icon-button" href="#">Contactenos ahora</a>
                    </div>

                </div>
                <!-- /row -->

            </div>
            <!-- /container -->

        </div>
    </div>
    <!-- /Contact CTA -->

    <!-- Pie de Página -->
    <footer id="footer" class="section">

        <!-- container -->
        <div class="container">

            <!-- row -->
            <div class="row">

                <!-- Logo -->
                <div class="col-md-6">
                    <div class="footer-logo">
                        <a class="logo" href="/">
                            <img src="/images/CDB-logo.png" alt="logo">
                        </a>
                    </div>
                </div>
                <!-- Logo -->

                <!-- Navegación Pie de Página -->
                <div class="col-md-6">
                    <ul class="footer-nav">
                        <li><a href="/">Principal</a></li>
                        <li><a href="/ingresar">Ingresar</a></li>
                        <li><a href="#contact-cta">Contactar</a></li>
                    </ul>
                </div>
                <!-- /Navegación Pie de Página -->

            </div>
            <!-- /row -->

            <!-- row -->
            <div id="bottom-footer" class="row">

                <!-- Redes Sociales -->
                <div class="col-md-4 col-md-push-8">
                    <ul class="footer-social">
                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" class="youtube"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <!-- /Redes Sociales -->

                <!-- Copyright -->
                <div class="col-md-8 col-md-pull-4">
                    <div class="footer-copyright">
                        <span>&copy; Copyright 2018. Todos los derechos reservados | Cooperativa Doña Bachita <i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                </div>
                <!-- /Copyright -->

            </div>
            <!-- row -->

        </div>
        <!-- /container -->

    </footer>
    <!-- /Pie de Página -->

    <!-- Precargador -->
    <div id='preloader'><div class='preloader'></div></div>
    <!-- /Precargador -->


    <!-- jQuery Plugins -->
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>